In [11]:
import numpy as np
import pandas as pd
import csv
df = pd.read_csv(r"C:\Users\yasmi\Desktop\selected\drugsComTest_raw.tsv",sep = "\t")
df.head()

,ID,drugName,condition,review,rating,date,usefulCount
0,163740,Mirtazapine,Depression,"""I&#039;ve tried a few antidepressants over th...",10.0,"February 28, 2012",22
1,206473,Mesalamine,"Crohn's Disease, Maintenance","""My son has Crohn&#039;s disease and has done ...",8.0,"May 17, 2009",17
2,159672,Bactrim,Urinary Tract Infection,"""Quick reduction of symptoms""",9.0,"September 29, 2017",3
3,39293,Contrave,Weight Loss,"""Contrave combines drugs that were used for al...",9.0,"March 5, 2017",35
4,97768,Cyclafem 1 / 35,Birth Control,"""I have been on this birth control for one cyc...",9.0,"October 22, 2015",4

df.drop(['drugName','condition','review','date'],axis='columns',inplace=True)
df.head()

In [12]:
df.drop(['drugName','condition','review','date'],axis='columns',inplace=True)
df.head()

       ID  rating  usefulCount
0  163740    10.0           22
1  206473     8.0           17
2  159672     9.0            3
3   39293     9.0           35
4   97768     9.0            4

In [4]:
target=df.rating
inputs=df.drop('rating',axis='columns')

In [5]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.65)

In [6]:
len(X_train)

18818

In [7]:
len(X_test)

34948

In [8]:
len(inputs)

53766

In [9]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()
model.fit(X_train,y_train)
y_pred=model.predict(X_test)
print(y_pred)

[10.  1. 10. ...  1.  1. 10.]

In [10]:
from sklearn import metrics

print(metrics.accuracy_score(y_test,y_pred))

0.26897104269199956